services:
  swag:
    image: lscr.io/linuxserver/swag:latest
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Denver
      - URL=mateo-spotify.duckdns.org
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - ONLY_SUBDOMAINS=false
      - DNSPLUGIN=duckdns
      - DUCKDNSTOKEN=${DUCKDNS_TOKEN}
    volumes:
      - ./swag/swag-config:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
