services:
  postgres:
    image: postgres:16-alpine
    container_name: spotify-postgres
    restart: unless-stopped
    shm_size: 128mb
    environment:
      - POSTGRES_USER=spotifyuser
      - POSTGRES_PASSWORD=spotifypass
      - POSTGRES_DB=spotifydb
    ports:
      - "5432:5432"
    volumes:
      - ../app/db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U spotifyuser -d spotifydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    container_name: spotify-backend
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile.server
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=spotifydb;Username=spotifyuser;Password=spotifypass
      - Keycloak__Authority=https://auth-dev.snowse.io/realms/DevRealm
      - Keycloak__Audience=account
      - Keycloak__MetadataAddress=https://auth-dev.snowse.io/realms/DevRealm/.well-known/openid-configuration
      - Cors__AllowedOrigins__0=http://localhost:5173
      - Cors__AllowedOrigins__1=https://localhost:5173
      - Cors__AllowedOrigins__2=https://127.0.0.1:5173
      - Cors__AllowedOrigins__3=https://mateo-spotify.duckdns.org
      - AI__ApiBaseUrl=${AI_API_BASE_URL}
      - AI__Model=${AI_MODEL}
      - AI__ApiKey=${AI_API_KEY}
      - Spotify__ClientId=${SPOTIFY_CLIENT_ID}
      - Spotify__ClientSecret=${SPOTIFY_CLIENT_SECRET}
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    command: sh -c "cd API && dotnet watch"

  frontend:
    image: node:20-alpine
    container_name: spotify-frontend
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - ../app/client:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

# volumes:
#   postgres_data:
